{% extends 'base.html' %}
{% block content %}

<h1>Add a new recipe to our database!</h1>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>New Recipe Form</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name_input">Name</label>  
  <div class="col-md-4">
  <input id="name_input" name="name_input" type="text" placeholder="recipe name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="prep_time_input">Preparation time</label>  
  <div class="col-md-4">
  <input id="prep_time_input" name="prep_time_input" type="text" placeholder="time to prepare" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="ingredients_input">Ingredients (separated by comas)</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="ingredients_input" name="ingredients_input"></textarea>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="method_input">Method</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="method_input" name="method_input"></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="recipe_submit"></label>
  <div class="col-md-4">
    <input type="submit" id="recipe_submit" name="recipe_submit" class="btn btn-success"/>
  </div>
</div>

</fieldset>
</form>

{% endblock %}